API_KEY='XXXXXXXXXXXXXXXXXXX'
AUTH_DOMAIN='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
PROJECT_ID='XXXXXXXXXXXXXXXX'
STORAGE_BUCKET='XXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
MESSAGINGSENDERID='XXXXXXXXXXXXXX'
APPID='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
BASE_URL="http://XXXXXXXXXXXX"