NEXT_PUBLIC_FIREBASE_API_KEY='XXXXXXXXXXXXXXXXXXX'
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
NEXT_PUBLIC_FIREBASE_PROJECT_ID='XXXXXXXXXXXXXXXX'
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET='XXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID='XXXXXXXXXXXXXX'
NEXT_PUBLIC_FIREBASE_APP_ID='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
NEXT_PUBLIC_BASE_URL="http://XXXXXXXXXXXX"
BASIC_AUTH_USER="XXXXXXXXXX"
BASIC_AUTH_PASSWORD="XXXXXXXXXX"